{% extends "layout.html" %}


{% block body %}
<h4>Kontrol Paneli</h4>
<br>
<small>HoŞgeldin {{session["username"]}}</small>
<hr>
<a href="/addfilm" class="btn btn-info">Film Ekle</a>
<br><br>

{% if filmler %}
    <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">Film Numarası</th>
            <th scope="col">Film Adı</th>
            <th scope="col">Filmi Ekleyen Yazar</th>
            <th scope="col">Eklenen Tarih</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
         {% for film in filmler %}
            <tr>
                <th scope="row">{{film.id}}</th>
                <td><a href="/film/{{film.id}}">{{film.title}}</a></td>
                <td>{{film.author}}</td>
                <td>{{film.created_date}}</td>
                <td><a href="/delete/{{film.id}}" class="btn btn-info btn-sm">Sil</a></td>
                <td><a href="/edit/{{film.id}}" class="btn btn-info btn-sm">Güncelle</a></td>
            </tr>
      {% endfor %}
        </tbody>
    </table>
  

{% else %}
<div class="alert alert-danger">Filmin henüz bulunmuyor</div> 

{% endif %}


{% endblock body %}